body{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(pexels-photo-1547813.jpeg);
    background-position: center;
    background-size: contain;
    height: 100vh;
}
.center{
    width: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    width: 400px;
    background: white;
    border-radius: 20px;
}
.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid black;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .text-align{
    position: relative;
    border-bottom: 2px solid black;
    margin: 30px 0;
}
.text-align input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 12px;
    border: none;
    background: none;
    outline: none;
}
.pass{
    margin: -5px 0 20px 5px;
    color: black;
    cursor: pointer;
}
.pass:hover{
    text-decoration: none;
    color: blue;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    color: black;
    background: blue;
    border-radius: 20px;
    font-size: 25px;
     opacity: 0.9;
     font-weight: 100;
     outline: none;
     cursor: pointer;
}
input[type="submit"]:hover{
  border-color: aquamarine;
}
.sign-up{
    text-align: center;
    margin: 30px 0;
    font-size: 18px;
    
}
.sign-up a{
    text-decoration: none;

}
.sign-up a:hover{
    text-decoration: underline;

}

