*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 420px;
    transform: translate(-50%,-50%);
    background-color:skyblue;
    border-radius: 10px;
    border: 1px solid black;
}
.center h1{
    padding: 10px 20px 30px;
    text-align: center;
}
.center form{
    padding: 0 20px;
    box-sizing: border-box;
    
}
form .txt-field{
     margin:30px 0 ;
     border-bottom: 1PX SOLID black;
     position: relative;
}
.txt-field input{
    width:100%;
    height: 40px;
    background: none;
    border: none;
    outline: none;
    padding-top: 1rem;
    padding-left: 0.2rem;
    font-size: 1.0rem;
    font-weight: bold;
}
.txt-field label{
    position: absolute;
    left:0%;
    top: -25%;
    padding: 0 2px;
    font-size: 18px;
    font-style: italic;
    color: whitesmoke;
}
.pass{
    margin: 10px 0 25px;
}
.pass a{
    text-decoration: none;
    color: whitesmoke;
}
.pass a:hover{
    text-decoration: underline;
    color: blue;
}
.sign-up{
    margin: 15px;
    font-size: 18px;
    color: whitesmoke;
}
.sign-up a{
    text-decoration: none;
    color: black;
}
.sign-up a:hover{
    color: blue;
    text-decoration: underline;
}
button{
    margin: 8px 10px;
    width: 18rem;
    height: 40px;
    border-radius: 25px;
    border: none;
    font-size: 18px;
   
}